.form-control {
  border-color: #fff;
}

.form-select {
  border-color: #fff;
}

.form-control:focus {
  border-color: #fff;
}

.header-option {
  padding: 10px;
}

.user-img > img {
  height: 35px;
  width: 35px;
}
