.table-striped.table-hover>tbody>tr:hover>td, 
.table-striped.table-hover>tbody>tr:hover>th {
  background-color: #EFF6FC;
  /* color: white; */
}
.content {
  padding: 30px;
}

input[type="radio"] {
  border: 0px;
  width: 30px;
  height: 1em;
}

.history-modal {
  max-width: 75vw !important;
}

a {
  cursor: pointer;
}

.filter-row .btn {
  padding: 7px !important;
  min-height: 40px !important;
}

.form-focus .form-control {
  height: 41px !important;
  padding: 14px 12px 6px;
}

.focus-label {
  opacity: 1;
  font-weight: 300;
  top: -20px !important;
  font-size: 12px !important;
  z-index: 1 !important;
}

.tablelastrow {
  margin-bottom: 7rem !important;
}

.page-header {
  margin-bottom: 5px !important;
}

.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.15);
  background: white;
  vertical-align: middle;
  margin-right: 20px;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
}

i .icon {
  opacity: 0.2;
  font-size: 1rem;
  color: transparent;
  transition: opacity 0.3s 0.1s ease;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
}

.icon:hover {
  border: 0px solid #ccc;
}

.label__checkbox:checked + .label__text .label__check {
  animation: check forwards;
}

.icon {
  opacity: 1;
  transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  animation: icon forwards;
}

tbody > tr {
  cursor: pointer;
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}
